body {
font-family: 'Raleway', sans-serif;    
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: #fff;
}

h2, h3, h4, h5, h6 {

}
/* 
#random-background {
    background-image: url("friend-1820040_1920.jpg") !important;
    background-repeat: repeat;

} */

#random-background {
    background-size: 100%;
    background-repeat: no-repeat;
}

#random-background .lead {
    color: #fff;
}

#random-background .jumbotron {
    border-radius: none !important;
}

.jumbofix {
    padding: 7.5rem 0;
}

.bg-my-japanese-indigo {
background-color: #254441;
}

.btn {
    background: #ff6f59;
    color: #fff;
}

.btn:hover {
    background: #DB504A;
    color: #fff;
}

nav .btn {
    background: none;
    border: 1px solid #ff6f59;
    margin-left: 10px;
}

.navbar {
    background: #244340;
}

footer {
    border-top: 1px solid #edece4;
    padding-top: 20px;
}

.sub {
    margin-top: 50px;
}

.sub .jumbotron {
    background: #da4f49;
    color: #fff;
}

.user {
    margin-bottom: 20px;
    width: 33%;
    float: left;
}